@media (max-width:430px) {
    .lnks{
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        
       
    }
    .line2{
        width: 15%;
       
        
     }
    
}
